
#contain{
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height:5882px;
}

#container {
  width: 1440px;
  height :5879px;
  display: grid;
  background-color: white;
  
  
}

#main {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  height:6064px;
  width:1440px;
}




.h4{
  color:#14381f;
  font-size: 33px;
  padding: 10px;
}

#founder {
  width: 385px;
  height: 350px;
  background-color: white;
  position: absolute;
  box-shadow: 10px 10px 100px rgb(0 0 0 / 20%);
  margin-left: 874px;
  margin-top: -413px;
  word-wrap: break-word;  

}
.bg1 {
  width: 1250px;
  height: 200px;
  background-color: white;
  position: absolute;
  margin-top: -612px;
  margin-left: 190px;
  box-shadow: 10px 10px 100px rgb(0 0 0 / 20%);
}

.line {
  width: 75%;
  border:none;
  height: 0.3px;
  border-radius: 10px;
  margin-top: 223px;
  background: #dedede;
}

.line1 {
  width: 75%;
  border: none;
  height: 0.3px;
  border-radius: 10px;
  margin-top: 486px;
  background: #dedede;
}




  .imgr
  {
    margin-left:720px;
  }


.boxs {
  width: 436px;
  height: 195px;
  background-color: white;
  position: absolute;
  box-shadow: 10px 10px 100px rgb(0 0 0 / 20%);
  margin-left: 335px;
  margin-top: -194px;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 20px;
  justify-content: center;
  align-items: center;
}


#boxs1 {
  margin-left: 678px;
  margin-top: -201px; 
}

#txt1{
  width: 1440px;
  height:400px;
  background-color: white;
}
.bspace{
  margin-top:200px;
}

.popup {
  width: 240px;
  height: 360px;
  background-color: white;
  position: absolute;
  margin-left: 210px;
  margin-top: 30px;
  border-radius: 10px;
  word-wrap: break-word;

}

.popup:hover{
  box-shadow: 10px 10px 100px rgb(0 0 0 / 20%);

}

#pop1{
  margin-left: 489px;
  
}
#pop2{
  margin-left: 770px;
  
}

#pop3{
  margin-left:1051px ;
}

#logos {
  margin-left: 120px;
  margin-top: 40px;
  width: 1000px;
  height: auto;
}

#footer {
  background-color: rgb(110, 110, 110);
  width: 100%;
  height: 670px;
  margin-top: 770px;
}


#bg2 {
  margin-top: 540px;
  height: 390px;
  margin-left: 0px;
  background-color: #f8f4f4fa;
}


.toph {
  color: white;
  font-size: 17px;
  margin-top: 165px;
  margin-left: 170px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h1 {
  color: white;
  font-size: 64px;
  margin-top: 38px;
  margin-left: 170px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

#place{
  margin-top:45px;
}

#anteelo{
  margin-top: -21px;
}


#webovio{
  width:1440px;
  height:auto;
}

.link1{
  color: #fffb00;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #fffb00;
}


ul {  
  margin: 0.75em 0;  
  padding: 0 1em;  
  list-style: none;  
}  

li:before {   
  content: "";  
  border-color: transparent #fffb00;  
  border-style: solid;  
  border-width: 0.35em 0 0.35em 0.45em;  
  display: block;  
  height: 0;  
  width: 0;  
  left: -1em;  
  top: 0.9em;  
  position: relative;  
} 


#li1{
  margin-left:171px;
  margin-top: 10px;
}



.quote{
  color:#225c34;
  font-style:italic;
  font-size: 22px;
  opacity: 80%;
}

#txt2 {
  
  margin-left: 167px;
  margin-top: 39px;
}

.h1g {
  color: #14381f;
  font-size: 40px;
  opacity: 90%;
  margin-top: 453px;
  margin-left: 167px;
}

#h1g{
  margin-top: 180px;
}

#h2g{
  margin-top: -455px;
  margin-left: 817px;
  margin-bottom: 357px;
}
#h4g
{
    margin-top: -321px;
    margin-left: 817px;
    margin-bottom: 357px;
  
}

#h3g{

  margin-top: -416px;
  margin-left: 167px;
  margin-bottom: 357px;
  margin-bottom: 532px;
}

#h6g {
  margin-top: 180px;
  margin-left: -28px;

  font-size: 59px;
  opacity: 90%;
}


#h7g {
  margin-top: 97px;
  margin-left: 23px;
  font-size: 90px;
  opacity: 90%;
}

#txt3 {
  margin-top: -104px;
  margin-left: 583px;
  opacity: 40%;


}
#txt4 {
  margin-top: -293px;
  margin-left: 817px;
  opacity: 40%;
}
#txt5 {
  margin-bottom: 301px;
  margin-top: -467px;
  margin-left: 166px;
  opacity: 40%
}

#bb1{
  margin-top: 344px;
}

#imgbox1{
  margin-top: -136px;
  
}



.poptext{
  opacity: 40%;
  color:#14381f;
 padding:15px; 
}


#found{

  color: #225c34;
  font-size: 30px;
  padding:10px;
}


.cimg {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  margin-left: 30px;
  -webkit-box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 30, 60%);
}