.box {
	float: left;
	padding: 50px 0px;
}

.clearfix::after {
	clear: both;
	display: table;
}

.options {
	margin: 5px 0px 0px 0px;
	float: left;
}

.pagination {
	float: right;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}


table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid var(--table);
}

h1 {
    text-align: center;
    color: var(--heading);
    font-size: xx-large;
    font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

td {
    background-color: var(--td);
    border: 1px solid var(--table);
}

th,
td {
    font-weight: bold;
    border: 1px solid var(--table);
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}

th {
    background-color: var(--th);
}